.center_ani_before {
  animation: center_ani_before-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani_before-kf {
  0% {
    font-variation-settings: 'wght'300;
  }

  100% {
    font-variation-settings: 'wght'300;
  }
}

.center_ani3 {
  animation: center_ani3-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani3-kf {
  0% {
    font-variation-settings: 'wght'300;
  }

  100% {
    font-variation-settings: 'wght'800;
  }
}

.center_ani1 {
  animation: center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(40rem) translateY(-8rem);
  }

  100% {
    width: 22rem;
    transform: translateX(-13rem) translateY(-8rem);
  }
}

.center_ani2 {
  animation: center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(40rem) translateY(0rem);
  }

  100% {
    width: 22rem;
    transform: translateX(-13rem) translateY(0rem);
  }
}

.center_ani1_back {
  animation: center_ani1_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(40rem) translateY(-8rem);
  }

  0% {
    width: 22rem;
    transform: translateX(-13rem) translateY(-8rem);
  }
}

.center_ani2_back {
  animation: center_ani2_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(40rem) translateY(0rem);
  }

  0% {
    width: 22rem;
    transform: translateX(-13rem) translateY(0rem);
  }
}

.menu_push_left {
  animation-name: menu_push_left-kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes menu_push_left-kf {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200px);
  }
}

.menu_push_right {
  animation-name: menu_push_right-kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes menu_push_right-kf {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}


.top_push {
  animation: top_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push-kf {
  0% {
    top: -330px;
  }

  100% {
    top: -300px;
  }
}

.bottom_push {
  animation: bottom_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push-kf {
  0% {
    bottom: -330px;
  }

  100% {
    bottom: -300px;
  }
}

.left_push {
  animation: left_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push-kf {
  0% {
    left: -330px;
  }

  100% {
    left: -300px;
  }
}

.right_push {
  animation: right_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes right_push-kf {
  0% {
    right: -330px;
  }

  100% {
    right: -300px;
  }
}

.right_push2 {
  animation: right_push2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes right_push2-kf {
  0% {
    right: -70px;
  }

  100% {
    right: 0;
  }
}

.top_push_menu {
  animation: top_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push_menu-kf {
  0% {
    top: -300px;
  }

  100% {
    top: -270px;
  }
}

.bottom_push_menu {
  animation: bottom_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push_menu-kf {
  0% {
    bottom: -300px;
  }

  100% {
    bottom: -270px;
  }
}

.left_push_menu {
  animation: left_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push_menu-kf {
  0% {
    left: -300px;
  }

  100% {
    left: -270px;
  }
}

.top_push_menu_back {
  animation: top_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push_menu_back-kf {
  100% {
    top: -300px;
  }

  0% {
    top: -270px;
  }
}

.bottom_push_menu_back {
  animation: bottom_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push_menu_back-kf {
  100% {
    bottom: -300px;
  }

  0% {
    bottom: -270px;
  }
}

.left_push_menu_back {
  animation: left_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push_menu_back-kf {
  100% {
    left: -300px;
  }

  0% {
    left: -270px;
  }
}

.intro_push {
  animation: intro_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes intro_push-kf {
  0% {
    width: 100vw;
  }

  100% {
    width: 50vw;
  }
}

.intro_push_back {
  animation: intro_push_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes intro_push_back-kf {
  0% {
    width: 50vw;
  }

  100% {
    width: 100vw;
  }
}






.green_overlay_on {
  animation: green_overlay_on-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_overlay_on-kf {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: .8;
    visibility: visible;
  }
}

.green_overlay_off {
  animation: green_overlay_off-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_overlay_off-kf {
  0% {
    opacity: .8;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.window_show {
  animation: window_show-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes window_show-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.window_hide {
  animation: window_hide-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes window_hide-kf {
  0% {
    width: 100vw;
  }

  100% {
    width: 0;
  }
}

.lift {
  animation: lift-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes lift-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-220vh);
  }
}

.lift_back {
  animation: lift_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes lift_back-kf {
  0% {
    transform: translateY(-220vh);
  }

  100% {
    transform: translateY(0);
  }
}

.green_intro_on {
  animation: green_intro_on-kf 2s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_intro_on-kf {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: .8;
    visibility: visible;
  }
}

.green_intro_off {
  animation: green_intro_off-kf .1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_intro_off-kf {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
