.center_ani_before {
  animation: center_ani_before-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani_before-kf {
  0% {
    font-variation-settings: 'wght'300;
  }

  100% {
    font-variation-settings: 'wght'300;
  }
}

.center_ani3 {
  animation: center_ani3-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani3-kf {
  0% {
    font-variation-settings: 'wght'300;
  }

  100% {
    font-variation-settings: 'wght'800;
  }
}

.center_ani_before2 {
  animation: center_ani_before2-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani_before2-kf {
  0% {
    font-variation-settings: 'wght'800;
  }

  100% {
    font-variation-settings: 'wght'800;
  }
}

.center_ani4 {
  animation: center_ani4-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes center_ani4-kf {
  0% {
    font-variation-settings: 'wght'800;
  }

  100% {
    font-variation-settings: 'wght'300;
  }
}

















.index-center_ani1 {
  animation: index-center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes index-center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.index-center_ani2 {
  animation: index-center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes index-center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.index-center_ani1_back {
  animation: index-center_ani1_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes index-center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.index-center_ani2_back {
  animation: index-center_ani2_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes index-center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}




.web-center_ani1 {
  animation: web-center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes web-center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 26rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.web-center_ani2 {
  animation: web-center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes web-center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 26rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.web-center_ani1_back {
  animation: web-center_ani1_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes web-center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 26rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.web-center_ani2_back {
  animation: web-center_ani2_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes web-center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 26rem;
    transform: translateX(0rem) translateY(0rem);
  }
}




.ux-center_ani1 {
  animation: ux-center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes ux-center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.ux-center_ani2 {
  animation: ux-center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes ux-center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.ux-center_ani1_back {
  animation: ux-center_ani1_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes ux-center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.ux-center_ani2_back {
  animation: ux-center_ani2_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes ux-center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 22rem;
    transform: translateX(0rem) translateY(0rem);
  }
}




.animation-center_ani1 {
  animation: animation-center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes animation-center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 31rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.animation-center_ani2 {
  animation: animation-center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes animation-center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 31rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.animation-center_ani1_back {
  animation: animation-center_ani1_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes animation-center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 31rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.animation-center_ani2_back {
  animation: animation-center_ani2_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes animation-center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 31rem;
    transform: translateX(0rem) translateY(0rem);
  }
}




.indhold-center_ani1 {
  animation: indhold-center_ani1-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes indhold-center_ani1-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 34rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.indhold-center_ani2 {
  animation: indhold-center_ani2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes indhold-center_ani2-kf {
  0% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  100% {
    width: 34rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.indhold-center_ani1_back {
  animation: indhold-center_ani1_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes indhold-center_ani1_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 34rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.indhold-center_ani2_back {
  animation: indhold-center_ani2_back-kf 2.11s cubic-bezier(.25, .25, 0, 1) both;
}

@keyframes indhold-center_ani2_back-kf {
  100% {
    width: 0;
    transform: translateX(50.5vw) translateY(0rem);
  }

  0% {
    width: 34rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

















.menu_push_left {
  animation-name: menu_push_left-kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes menu_push_left-kf {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200px);
  }
}

.menu_push_right {
  animation-name: menu_push_right-kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes menu_push_right-kf {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}


.top_push {
  animation: top_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push-kf {
  0% {
    top: -330px;
  }

  100% {
    top: -300px;
  }
}

.bottom_push {
  animation: bottom_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push-kf {
  0% {
    bottom: -330px;
  }

  100% {
    bottom: -300px;
  }
}

.left_push {
  animation: left_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push-kf {
  0% {
    left: -330px;
  }

  100% {
    left: -300px;
  }
}

.right_push {
  animation: right_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes right_push-kf {
  0% {
    right: -330px;
  }

  100% {
    right: -300px;
  }
}

.right_push2 {
  animation: right_push2-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes right_push2-kf {
  0% {
    right: -70px;
  }

  100% {
    right: 0;
  }
}

.top_push_menu {
  animation: top_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push_menu-kf {
  0% {
    top: -300px;
  }

  100% {
    top: -240px;
  }
}

.bottom_push_menu {
  animation: bottom_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push_menu-kf {
  0% {
    bottom: -300px;
  }

  100% {
    bottom: -240px;
  }
}

.left_push_menu {
  animation: left_push_menu-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push_menu-kf {
  0% {
    left: -300px;
  }

  100% {
    left: -270px;
  }
}

.top_push_menu_back {
  animation: top_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes top_push_menu_back-kf {
  100% {
    top: -300px;
  }

  0% {
    top: -240px;
  }
}

.bottom_push_menu_back {
  animation: bottom_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes bottom_push_menu_back-kf {
  100% {
    bottom: -300px;
  }

  0% {
    bottom: -240px;
  }
}

.left_push_menu_back {
  animation: left_push_menu_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes left_push_menu_back-kf {
  100% {
    left: -300px;
  }

  0% {
    left: -270px;
  }
}

.intro_push {
  animation: intro_push-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes intro_push-kf {
  0% {
    width: 100vw;
  }

  100% {
    width: 50vw;
  }
}

.intro_push_back {
  animation: intro_push_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes intro_push_back-kf {
  0% {
    width: 50vw;
  }

  100% {
    width: 100vw;
  }
}






.green_overlay_on {
  animation: green_overlay_on-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_overlay_on-kf {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: .8;
    visibility: visible;
  }
}

.green_overlay_off {
  animation: green_overlay_off-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_overlay_off-kf {
  0% {
    opacity: .8;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.window_show {
  animation: window_show-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes window_show-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.window_hide {
  animation: window_hide-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes window_hide-kf {
  0% {
    width: 100vw;
  }

  100% {
    width: 0;
  }
}

.lift {
  animation: lift-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes lift-kf {
  0% {
    transform: translateY(201px);
  }

  100% {
    transform: translateY(0);
  }
}

.lift_back {
  animation: lift_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes lift_back-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(201px);
  }
}

.footer_lift {
  animation: footer_lift-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes footer_lift-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200px);
  }
}

.footer_lift_back {
  animation: footer_lift_back-kf 1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes footer_lift_back-kf {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

.green_intro_on {
  animation: green_intro_on-kf 2s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_intro_on-kf {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: .8;
    visibility: visible;
  }
}

.green_intro_off {
  animation: green_intro_off-kf .1s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes green_intro_off-kf {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.scroll1_ani {
  animation: scroll1_ani-kf 1s infinite alternate both;
}

@keyframes scroll1_ani-kf {
  100% {
    transform: translateX(-1px)translateY(-30px);
    height: 20px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: translateX(-1px)translateY(-25px);
    height: 30px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: translateX(-1px)translateY(-10px);
    height: 20px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.scroll2_ani {
  animation: scroll2_ani-kf 1s cubic-bezier(.3, 0, .2, 1) infinite alternate both;
}

@keyframes scroll2_ani-kf {
  100% {
    transform: translateX(2px)translateY(-18px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: translateX(2px)translateY(-3px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: translateX(2px)translateY(2px) rotate(45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.scroll3_ani {
  animation: scroll3_ani-kf 1s cubic-bezier(.3, 0, .2, 1) infinite alternate both;
}

@keyframes scroll3_ani-kf {
  100% {
    transform: translateX(-4px)translateY(-18px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: translateX(-4px)translateY(-3px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: translateX(-4px)translateY(2px) rotate(-45deg);
    height: 10px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.scroll_title_ani {
  animation: scroll_title_ani-kf 1s infinite alternate both;
}

@keyframes scroll_title_ani-kf {
  100% {
    transform: translateX(-25px)translateY(-45px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: translateX(-25px)translateY(-42px);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: translateX(-25px)translateY(-35px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.push_scroll {
  animation: push_scroll-kf 1s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes push_scroll-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10rem);
  }
}

.push_scroll_back {
  animation: push_scroll_back-kf 1s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes push_scroll_back-kf {
  0% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0);
  }
}

.green_outro_ani {
  animation: green_outro_ani-kf .5s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes green_outro_ani-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.red_outro_ani {
  animation: red_outro_ani-kf .5s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes red_outro_ani-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.blue_outro_ani {
  animation: blue_outro_ani-kf .5s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes blue_outro_ani-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.purple_outro_ani {
  animation: purple_outro_ani-kf .5s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes purple_outro_ani-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.yellow_outro_ani {
  animation: yellow_outro_ani-kf .5s cubic-bezier(.3, .5, .2, 1) both;
}

@keyframes yellow_outro_ani-kf {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}
