/*MAIN STYLES-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PidgeonSans';
  src: url('assets/fonts/PidgeonSans_13-VF.woff2') format('woff2-variations');
  font-style: normal;
}

body {
  font-family: PidgeonSans;
  font-size: 1.5rem;
  font-variation-settings: 'wght'300;
  color: #111111;
  background-color: #FFFFFF;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

.main_scroller {
  height: 1700px;
  margin: 0 30px;
}

/*SPACING-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.space1 {
  height: 25px;
}

.space2 {
  height: 50px;
}

.space3 {
  height: 100px;
}

.space4 {
  height: 200px;
}

/*FARVER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.green_c {
  color: #07DD5E;
}

.green_b {
  background-color: #07DD5E;
  background-image: url(assets/images/bg_tile2.svg);
  background-size: 1002px;
}

.blue_c {
  color: #0ab6ea;
}

.blue_b {
  background-color: #0ab6ea;
  background-image: url(assets/images/bg_tile2.svg);
  background-size: 1002px;
}

.purple_c {
  color: #5525f5;
}

.purple_b {
  background-color: #5525f5;
  background-image: url(assets/images/bg_tile2.svg);
  background-size: 1002px;
}

.red_c {
  color: #EF293D;
}

.red_b {
  background-color: #EF293D;
  background-image: url(assets/images/bg_tile2.svg);
  background-size: 1002px;
}

.yellow_c {
  color: #ffbe0e;
}

.yellow_b {
  background-color: #ffbe0e;
  background-image: url(assets/images/bg_tile2.svg);
  background-size: 1002px;
}

.white_c {
  color: #FFFFFF;
}

.white_b {
  background-color: #FFFFFF;
}

.grey_c {
  color: #EFEFEF;
}

.grey_b {
  background-color: #EFEFEF;
}

.black_c {
  color: #111111;
}

.black_b {
  background-color: #111111;
}

/*TEKST STILE-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
h1 {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 5.5rem;
  font-weight: 700;
  font-variation-settings: 'wght'800;
  letter-spacing: 1px;
  text-align: left;
  line-height: 4rem;
  padding-top: 20px;
}

h1:hover {
  font-variation-settings: 'wght'300;
}

h2 {
  font-family: PidgeonSans;
  transition: 0s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 3.5rem;
  font-weight: 700;
  font-variation-settings: 'wght'600;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: 0rem;
  line-height: 3.5rem;
}

h3 {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 2.4rem;
  font-weight: 700;
  font-variation-settings: 'wght'400;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: 0rem;
  line-height: 2.5rem;
}

p {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 1.7rem;
  font-weight: 700;
  font-variation-settings: 'wght'200;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.svag {
  font-size: 1.4rem;
  transition: 0s;
  padding-top: 10px;
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
span::selection {
  color: #111111;
  background-color: #FFFFFF;
}

.center_wrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.center_h1 {
  visibility: hidden;
}

.main_h1_3 {
  font-size: 3rem;
  font-variation-settings: 'wght'300;
  letter-spacing: 0px;
  line-height: 3rem;
}

.main_h1_3:hover {
  font-variation-settings: 'wght'500;
}

.no_trans {
  transition: 0s;
}

.no_trans:hover {
  font-variation-settings: 'wght'600;
}

/*NAVIGATION-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
nav {
  height: 380px;
  position: fixed;
  display: flex;
  z-index: 6;
  flex-wrap: wrap;
  width: 240px;
  align-content: flex-end;
  right: -272px;
  bottom: 80px;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #111111;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  flex-basis: 100rem;
}

.current_nav {
  font-variation-settings: 'wght'500;
}

.behind_nav1,
.behind_nav2,
.behind_nav3,
.behind_nav4,
.behind_nav0 {
  visibility: visible;
  height: 3px;
  width: 0rem;
  transform: translateY(-1rem);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  margin: 10px 0;
}

.nav a:hover {
  font-variation-settings: 'wght'500;
}

.nav a:hover .behind_nav0 {
  width: 6.7rem;
}

.nav a:hover .behind_nav1 {
  width: 5.3rem;
}

.nav a:hover .behind_nav2 {
  width: 2.7rem;
}

.nav a:hover .behind_nav3 {
  width: 9.2rem;
}

.nav a:hover .behind_nav4 {
  width: 6.6rem;
}

/*BURGER MENU-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.burger_wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 6;
  visibility: hidden;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger_div {
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
  transform: translateX(-5px) translateY(-85px);
}

.burger1 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(0px) translateY(-5px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger2 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(6px) translateY(0px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger3 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(3px) translateY(5px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.menu_title {
  font-family: PidgeonSans;
  font-size: .4rem;
  transform: translateX(5px) translateY(-2px) rotate(-90deg);
  font-variation-settings: 'wght'800;
  letter-spacing: 3px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger_when_click {
  transform: translateX(30px);
}

.burger1_cross_on {
  transform: translateX(5px) translateY(2px) rotate(45deg);
}

.burger2_cross_on {
  transform: translateX(5px) translateY(0px) rotate(45deg);
}

.burger3_cross_on {
  transform: translateX(5px) translateY(-2px) rotate(-45deg);
}

.burger1_cross_off {
  transform: translateX(0px) translateY(-5px) rotate(0);
}

.burger2_cross_off {
  transform: translateX(6px) translateY(0px) rotate(0);
}

.burger3_cross_off {
  transform: translateX(3px) translateY(5px) rotate(0);
}

/*SCROLL-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.scroll_pos {
  width: 100vw;
  height: calc(100vh - 100px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 4;
  visibility: hidden;
}

.scroll_wrap {
  visibility: hidden;
}

.scroll1 {
  position: fixed;
  width: 2px;
  height: 20px;
  transform: translateX(-11px)translateY(-30px);
}

.scroll2 {
  position: fixed;
  width: 2px;
  height: 10px;
  transform: translateX(-8px)translateY(-18px) rotate(45deg);
}

.scroll3 {
  position: fixed;
  width: 2px;
  height: 10px;
  transform: translateX(-14px)translateY(-18px) rotate(-45deg);
}

.scroll_title {
  position: fixed;
  font-family: PidgeonSans;
  font-size: .6rem;
  transform: translateX(-25px) translateY(-60px);
  font-variation-settings: 'wght'900;
  letter-spacing: 3px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

/*HVIDE FORGRUNDE-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bg_wrapper_top,
.bg_wrapper_bottom {
  height: 330px;
  width: 100vw;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 5;
}

.bg_wrapper_left,
.bg_wrapper_right {
  height: 100vh;
  width: 330px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 5;
}

.bg_wrapper_top {
  top: -330px;
  left: 0;
}

.bg_wrapper_bottom {
  bottom: -330px;
  left: 0;
}

.bg_wrapper_left {
  top: 0;
  left: -330px;
}

.bg_wrapper_right {
  top: 0;
  right: -330px;
}

.bg_wrapper_right2 {
  height: 3000px;
  width: 300px;
  background-color: #FFFFFF;
  position: fixed;
  top: -100vh;
  right: -261px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  z-index: 0;
  transform: translateX(47px);
}

.bg_front_left {
  height: 2000px;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.bg_front_right {
  height: 2000px;
  width: 50vw;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  right: 0;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.bg_front_right2 {
  width: 25vw;
}

/*BILLEDER OG DERES WRAPPERE-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.selvportraet,
.portvin,
.pidgeonsans,
.keasans,
.fressy,
.amager,
.rasmus {
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.selvportraet {
  height: 800px;
  background-image: url(assets/images/selvportraet2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.img_wrapper {
  overflow: hidden;
  height: 400px;
  transform-origin: center;
}

.portvin {
  height: 700px;
  background-image: url(assets/images/portvin.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.img_wrapper2 {
  overflow: hidden;
  height: 80vw;
  transform-origin: center;
}

.pidgeonsans {
  height: 1500px;
  background-image: url(assets/images/pidgeon3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.swiss_style {
  height: 2000px;
  background-image: url(assets/images/swissstyle.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.fressy {
  height: 3000px;
  background-image: url(assets/images/fressy.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.amager {
  height: 1500px;
  background-image: url(assets/images/amager.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.rasmus {
  height: 1500px;
  background-image: url(assets/images/rasmus.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.glade {
  height: 1500px;
  background-image: url(assets/images/glade.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.deling {
  height: 1500px;
  background-image: url(assets/images/deling.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.img_wrapper3 {
  overflow: hidden;
  height: 100vw;
  transform-origin: center;
}

.img_wrapper3_swiss {
  overflow: hidden;
  height: 200vw;
  transform-origin: center;
}

.img_wrapper3_fressy {
  overflow: hidden;
  height: 370vw;
  transform-origin: center;
}

.img_wrapper3_amager {
  overflow: hidden;
  height: 180vw;
  transform-origin: center;
}

.img_wrapper3_rasmus {
  overflow: hidden;
  height: 110vw;
  transform-origin: center;
}

.img_wrapper3_glade {
  overflow: hidden;
  height: 60vw;
  transform-origin: center;
}

.img_wrapper3_deling {
  overflow: hidden;
  height: 60vw;
  transform-origin: center;
}

.keasans {
  height: 100vw;
  background-image: url(assets/images/keasans_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.img_wrapper4 {
  overflow: hidden;
  height: 100vw;
  transform-origin: center;
}

/*KNAPPER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.button_wrap {
  margin: 20px 10px 0 0;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_wrap_doku {
  margin: 10px 10px 0 0;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.button_wrap_doku .svag {
  padding-top: 0;
  font-size: 1.5rem;
}

.button_text {
  margin: 15px 0 10px 0;
  transform: translateX(0);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.button_wrap:nth-child(2) {
  position: absolute;
}

.arrow1 {
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  position: absolute;
  width: 0px;
  height: 3px;
  transform: translateX(90px) translateY(0) rotate(0);
}

.arrow2 {
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  position: absolute;
  width: 0px;
  height: 3px;
  transform: translateX(90px) translateY(0) rotate(0);
  transform-origin: right;
}

.arrow3 {
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  position: absolute;
  width: 0px;
  height: 3px;
  transform: translateX(90px) translateY(0) rotate(0);
  transform-origin: right;
}

/*SEKTIONERNE-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.section_class {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 10px 100px 10px;
  margin: 0 auto;
  align-items: flex-start;
  top: 0;
  position: relative;
  z-index: 3;
  transform-origin: top left;
}

.section_class2,
.section_class3,
.section_class4,
.section_class5 {
  margin-top: -201px;
}

.col {
  width: 100%;
  flex-basis: 370px;
  flex-grow: 1;
  top: 0;
}

.col_right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.line {
  width: 3px;
  height: 200px;
  position: relative;
  margin: 20px 1.3rem;
}

.window {
  position: absolute;
  overflow: hidden;
  width: 0;
  top: -10vw;
  left: 0;
  margin-bottom: 0px;
}

.section_class h1 {
  margin-bottom: 2rem;
}

.section_class p span {
  font-size: 1.7rem;
  font-variation-settings: 'wght'500;
}

.section_class h2 {
  flex-basis: 100vw;
}

.section_class5 {
  width: 100vw;
  top: 0;
  position: relative;
  z-index: 3;
  margin-top: 0px;
}

.bg_wrapper_top,
.bg_wrapper_bottom,
.bg_wrapper_left,
.bg_wrapper_right {
  visibility: hidden;
}

.logo_wrap p {
  visibility: hidden;
}

/*TOP LOGO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.logo_wrap {
  height: 100vh;
  width: calc(100vw - 50px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  visibility: hidden;
  transform: translateX(100px) translateY(20px);
}

.logo_wrap p {
  visibility: visible;
  font-size: 1rem;
}

/*INTRO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.green_overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 4;
  visibility: hidden;
  background-image: none;
}

.green_intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
}

.space_top {
  margin-top: -600px;
}

/*OUTRO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.green_outro,
.red_outro,
.blue_outro,
.purple_outro,
.yellow_outro {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

/*MEDIAQUERIES-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1060px) {
  h1 {
    font-size: 10rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 7.5rem;
    line-height: 8rem;
    transition: .4s;
    transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  }

  h2:hover {
    font-variation-settings: 'wght'300;
  }

  h3 {
    font-size: 5rem;
    line-height: 6rem;
    transition: .4s;
    transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  }

  h3:hover {
    font-variation-settings: 'wght'200;
  }

  p {
    font-size: 2.5rem;
  }

  .svag {
    font-size: 1.7rem;
  }

  .section_class p span {
    font-size: 3rem;
    line-height: 2.7rem;
    font-variation-settings: 'wght'500;
  }

  .burger_div:hover .burger1 {
    transform: translateX(13px) translateY(-3px) rotate(45deg);
    width: 15px;
  }

  .burger_div:hover .burger2 {
    transform: translateX(-5px) translateY(0px) rotate(0);
    width: 30px;
  }

  .burger_div:hover .burger3 {
    transform: translateX(13px) translateY(3px) rotate(-45deg);
    width: 15px;
  }

  .burger_div:hover .menu_title {
    transform: translateX(-2px) translateY(-2px) rotate(-90deg);
  }

  .burger_div:hover .bg_wrapper_right2 {
    transform: translateX(40px);
  }

  .burger_div {
    background-color: inherit;
  }

  .bg_wrapper_right2 {
    right: -226px;
  }

  .column {
    column-count: 2;
    column-gap: 20px;
  }

  .bg_wrapper_top,
  .bg_wrapper_bottom,
  .bg_wrapper_left,
  .bg_wrapper_right {
    visibility: visible;
  }

  nav {
    right: -240px;
  }

  .col_right {
    align-items: flex-end;
  }

  .img_wrapper2 {
    height: 500px;
  }

  .img_wrapper3 {
    height: 700px;
  }

  .img_wrapper4 {
    height: 200px;
  }

  .img_wrapper3_amager {
    height: 600px;
  }

  .img_wrapper3_rasmus {
    height: 400px;
  }

  .fressy {
    height: 2500px;
  }

  .img_wrapper3_fressy {
    height: 800px;
  }

  .img_wrapper3_swiss {
    height: 500px;
  }

  .glade {
    height: 2500px;
  }

  .deling {
    height: 2500px;
  }

  .web_space {
    height: 100px;
  }

  .button_wrap,
  .button_wrap_doku {
    width: 18rem;
  }

  .button_wrap:hover .arrow1,
  .button_wrap_doku:hover .arrow1 {
    position: absolute;
    width: 40px;
    height: 3px;
    transform: translateX(90px) translateY(0) rotate(0);
  }

  .button_wrap:hover .arrow2,
  .button_wrap_doku:hover .arrow2 {
    position: absolute;
    width: 15px;
    height: 3px;
    transform: translateX(105px) translateY(.5px) rotate(45deg);
  }

  .button_wrap:hover .arrow3,
  .button_wrap_doku:hover .arrow3 {
    position: absolute;
    width: 15px;
    height: 3px;
    transform: translateX(105px) translateY(-.5px) rotate(-45deg);
  }

  .button_wrap:hover .button_text,
  .button_wrap_doku:hover .button_text {
    transform: translateX(-25px);
  }

  .main_h1_3 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .logo_wrap p {
    visibility: visible;
  }
}
