* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PidgeonSans';
  src: url('assets/fonts/PidgeonSans_13-VF.woff2') format('woff2-variations');
  font-style: normal;
}

body {
  font-family: PidgeonSans;
  font-size: 1.5rem;
  font-variation-settings: 'wght'300;
  color: #111111;
  background-color: #FFFFFF;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

h1::selection,
h2::selection,
h3::selection,
p::selection {
  color: #07DD5E;
  background-color: #FFFFFF;
}

.main_scroller {
  height: 4000px;
  margin: 0 30px;
}

.colors {
  color: #111111;
  color: #07DD5E;
  color: #FFFFFF;
  color: #EFEFEF;
}

.green_c {
  color: #07DD5E;
}

.green_b {
  background-color: #07DD5E;
}

.white_c {
  color: #FFFFFF;
}

.white_b {
  background-color: #FFFFFF;
}

.grey_c {
  color: #EFEFEF;
}

.grey_b {
  background-color: #EFEFEF;
}

.black_c {
  color: #111111;
}

.black_b {
  background-color: #111111;
}



h1 {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 10rem;
  font-weight: 700;
  font-variation-settings: 'wght'800;
  letter-spacing: 1px;
  text-align: left;
  line-height: 8rem;
  padding-top: 20px;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
  font-variation-settings: 'wght'300;
}

.main_h1_1,
.main_h1_2 {
  color: #111111;
}

.text_wrapper1 {
  width: 0rem;
  height: 8rem;
  overflow: hidden;
  transform-origin: right;
  position: fixed;
  transform: translateX(-10rem) translateY(-8rem);
}

.text_wrapper2 {
  width: 0rem;
  height: 8rem;
  overflow: hidden;
  transform-origin: right;
  position: fixed;
  transform: translateX(-10rem) translateY(0rem);
}

h2 {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 8rem;
  font-weight: 700;
  font-variation-settings: 'wght'800;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: -1rem;
}

h3 {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 6rem;
  font-weight: 700;
  font-variation-settings: 'wght'550;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  z-index: 1;
  color: #07DD5E;
  margin-bottom: -.5rem;
}

p {
  font-family: PidgeonSans;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 4rem;
  font-weight: 700;
  font-variation-settings: 'wght'550;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.logo_wrap {
  height: 100vh;
  width: calc(100vw - 60px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  visibility: hidden;
  transform: translateX(30px) translateY(7px);
  top: -30px;
}

.logo_wrap p {
  visibility: visible;
  font-size: 1rem;
}






nav {
  height: 30vh;
  position: fixed;
  display: flex;
  z-index: 6;
  flex-wrap: wrap;
  width: 15rem;
  align-content: flex-end;
  right: -16rem;
  bottom: 4.4rem;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #111111;
  transition: .4s;
  flex-basis: 100rem;
}

.current_nav {
  font-variation-settings: 'wght'500;
  color: #07DD5E;
}

.current_nav div {
  background-color: #111111;
}


.behind_nav1,
.behind_nav2,
.behind_nav3,
.behind_nav4,
.behind_nav0 {
  visibility: visible;
  height: 3px;
  width: 0rem;
  background-color: #07DD5E;
  transform: translateY(-1rem);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  margin: 10px 0;
}



.nav a:hover {
  font-variation-settings: 'wght'500;
}

.nav a:hover .behind_nav0 {
  width: 6.7rem;
}

.nav a:hover .behind_nav1 {
  width: 4.2rem;
}

.nav a:hover .behind_nav2 {
  width: 2.7rem;
}

.nav a:hover .behind_nav3 {
  width: 9.2rem;
}

.nav a:hover .behind_nav4 {
  width: 6.6rem;
}





.burger_wrap {
  height: 93vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  z-index: 6;
  visibility: hidden;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  right: -70px;
}

.burger_div {
  width: 100px;
  height: 8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
  transform: translateX(28px);
}

.burger1 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(0px) translateY(-5px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger2 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(6px) translateY(0px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger3 {
  width: 20px;
  height: 2px;
  background-color: #111111;
  transform: translateX(3px) translateY(5px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger_div:hover .burger1 {
  transform: translateX(8px) translateY(-3px) rotate(45deg);
  width: 15px;
}

.burger_div:hover .burger2 {
  transform: translateX(-10px) translateY(0px) rotate(0);
  width: 30px;
}

.burger_div:hover .burger3 {
  transform: translateX(8px) translateY(3px) rotate(-45deg);
  width: 15px;
}

.menu_title {
  font-family: PidgeonSans;
  font-size: .4rem;
  transform: translateX(5px) translateY(-2px) rotate(-90deg);
  font-variation-settings: 'wght'900;
  letter-spacing: 3px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.burger_div:hover .menu_title {
  transform: translateX(-4px) translateY(-2px) rotate(-90deg);
}

.burger_div:hover .bg_wrapper_right2 {
  transform: translateX(-6px);
}

.burger_when_click {
  transform: translateX(30px);
}

.burger1_cross_on {
  transform: translateX(4px) translateY(2px) rotate(45deg);
}

.burger2_cross_on {
  transform: translateX(4px) translateY(0px) rotate(45deg);
}

.burger3_cross_on {
  transform: translateX(4px) translateY(-2px) rotate(-45deg);
}

.burger1_cross_off {
  transform: translateX(0px) translateY(-5px) rotate(0);
}

.burger2_cross_off {
  transform: translateX(6px) translateY(0px) rotate(0);
}

.burger3_cross_off {
  transform: translateX(3px) translateY(5px) rotate(0);
}





.bg_wrapper_top,
.bg_wrapper_bottom {
  height: 330px;
  width: 100vw;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 5;
}

.bg_wrapper_left,
.bg_wrapper_right {
  height: 100vh;
  width: 330px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 5;
}

.bg_wrapper_top {
  top: -330px;
  left: 0;
}

.bg_wrapper_bottom {
  bottom: -330px;
  left: 0;
}

.bg_wrapper_left {
  top: 0;
  left: -330px;
}

.bg_wrapper_right {
  top: 0;
  right: -330px;
}

.bg_wrapper_right2 {
  height: 300vh;
  width: 300px;
  background-color: #FFFFFF;
  position: fixed;
  top: -100vh;
  right: -242px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  z-index: 0;
}

.bg_front_left {
  height: 200vh;
  width: 100vw;
  background-color: #07DD5E;
  position: fixed;
  top: 0vh;
  left: 0vw;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.bg_front_right {
  height: 200vh;
  width: 50vw;
  background-color: #EFEFEF;
  position: fixed;
  top: 0vh;
  right: 0vw;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}





.center_wrap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.center_h1 {
  text-align: center;
  visibility: visible;
}





.green_overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #07DD5E;
  opacity: 0;
  z-index: 4;
  visibility: hidden;
}

.space_top {
  height: 150vh;
}

.selvportraet {
  width: 100%;
  height: 120vh;
  background-image: url(assets/images/selvportraet2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  transform-origin: center;
}

.col_wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 130vh 40px 100px 40px;
  align-items: flex-start;
  top: 0;
}

.col {
  width: 100%;
  flex-basis: 400px;
  flex-grow: 1;
  top: 0;
}

.line {
  width: 5px;
  height: 100px;
  position: relative;
  margin: 20px 2px;
}

.window {
  position: absolute;
  overflow: hidden;
  width: 0;
  top: -10vw;
}

.window2 {
  position: absolute;
  overflow: hidden;
  top: -210vw;

}

.img_wrapper {
  overflow: hidden;
  height: 80vh;
  transform-origin: center;
}

.black_b h2,
.black_b p {
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  .selvportraet {
    background-size: contain;
  }

  .bg_wrapper_top,
  .bg_wrapper_bottom,
  .bg_wrapper_left,
  .bg_wrapper_right {
    visibility: hidden;
  }

  .bg_wrapper_right2 {
    right: -272px;
  }

  nav {
    right: -17rem;
  }
}
